<form method="post" action="https://sub.supertechfans.com/subscription/form" class="listmonk-form">
  <div>
    <h3>Subscribe</h3>
    <input type="hidden" name="nonce" />
    <p><input type="email" name="email" required placeholder="E-mail" /></p>
    <p><input type="text" name="name" placeholder="Name (optional)" /></p>

    <p>
      <input id="7607a" type="checkbox" name="l" checked value="7607aaed-8262-4b9f-9ae8-1c9680c03f80" />
      <label for="7607a">HackerNews Top Stories Daily Digest</label>
    </p>

    <p><input type="submit" value="Subscribe" /></p>
  </div>
</form>